.home-page-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.home-page-header {
  font-weight: 200;
}

.see-more-container {
  text-align: center;
}

.see-more-button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
