.login-input-container {
  width: 12rem;
  text-align: center;
}

.login-input-container input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #070707;
}

.login-input-container input:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
