.login-form {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input-error {
  color: #a30000;
  width: 20rem;
  text-align: center;
  margin-top: 1rem;
}

.login-submit-btn {
  padding: 0.4rem 3rem;
  margin-top: 1rem;
  background-color: #070707;
  color: #f7f4f3;
  border: 3px solid #070707;
  border-radius: 6px;
}

.login-submit-btn:hover {
  transition: 0.3s ease-out;
  background-color: #f7f4f3;
  color: #070707;
}

/* #a30000 red */
/* #f7f4f3 white */
/* #070707 black */

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
