.aside-content {
  background-color: #f7f4f3;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
}

.aside-content + .aside-content {
  margin-top: 2rem;
}

.aside-content span {
  font-size: 2rem;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .aside-content + .aside-content {
    margin-top: 0;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1280px) {
}
